.itemList__container {
  display: flex;
  justify-content: center;
}

.itemlist__grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  gap: 24px;
}

.Item__container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.date {
  margin-top: 15px;
  margin-bottom: 10px;
}
