.Amount__container {
  margin-right: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.Amount__container span {
  font-size: 25px;
}

.Icon__Styles {
  color: white(107, 2, 2);
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
}
.Icon__Styles:hover {
  color: white;
}

.Icon__Cont {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

div a {
  color: white;
}
