.header__container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;

  background: -moz-linear-gradient(
    rigth,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    rigth,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 200%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to top,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 400%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

div h1 {
  font-family: "Dela Gothic One", cursive;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
