.Item__container__detail {
  max-height: 2500px;
  display: flex;
  justify-content: center;

  text-align: center;
}

.card__style {
  box-shadow: 0 5px 400px rgba(0, 0, 0, 0.5);
}

.date {
  font-size: xx-large;
}

.description {
  margin-bottom: 30px;
}

.container__Date {
  margin-top: 15px;
  margin-bottom: 10px;
}
