.Item__container__detail {
  padding: 10px;
  max-height: 2500px;
  display: flex;
  justify-content: center;

  text-align: center;
}

.Item__container__DarkDetail {
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 40px rgba(158, 0, 0, 0.5);
  text-align: center;
  transition: all 0.2s ease-out;
}

.card__style {
  box-shadow: 0 5px 400px rgba(0, 0, 0, 0.5);
}

.date {
  font-size: xx-large;
}

.description {
  margin-bottom: 30px;
}

.container__Date {
  margin-top: 15px;
  margin-bottom: 10px;
}
