h1 {
  display: flex;
  justify-content: center;
}

.Container__all {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  border: 1px solid red;
  width: 600px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.Container__Card {
  display: grid;
  grid-template-columns: 150px 150px 30px 150px 20px;
  gap: 4px;
}

.style__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container__Icon {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 15px;
}

.container__h4 {
  background-color: black;
  display: flex;
  justify-content: center;
}

.Total__Style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: black(224, 7, 7);
  border: 1px solid rgb(224, 7, 7);
  padding: 10px;
  width: 200px;
  height: 50px;
}

.h4__Style {
  color: rgb(255, 255, 255);
  font-family: "Dela Gothic One", cursive;
  font-size: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.grid__Cart {
  display: grid;
  justify-content: center;
}

.Input__Style {
  display: flex;
  justify-content: center;
  width: 600px;
}

.Style__Form {
  display: flex;
  justify-content: center;
}

.container__ {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
