.Nav__container {
  display: flex;
  justify-content: center;
  min-height: 50px;
  background-color: black;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Link__Style {
  color: red;
  list-style-type: none;
}



